@model GestionFormation.Models.Formation

@{
    ViewData["Title"] = "Ajouter formation";
}

<h1>Ajouter</h1>

<h4>Formations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FormationName" class="control-label">Nom de formation</label>
                <input asp-for="FormationName" class="form-control" />
                <span asp-validation-for="FormationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormationAdress" class="control-label">Adresse de formation</label>
                <input asp-for="FormationAdress" class="form-control" />
                <span asp-validation-for="FormationAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
