@model GestionFormation.Models.Formation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormationAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormationAdress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FormationID">Modifier</a> |
    <a asp-action="Index">Liste des formations</a>
</div>
