@model GestionFormation.Models.Formation

@{
    ViewData["Title"] = "Modifier";
}

<h1>Modifier</h1>

<h4>Formations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FormationID" />
            <div class="form-group">
                <label asp-for="FormationName" class="control-label"></label>
                <input asp-for="FormationName" class="form-control" />
                <span asp-validation-for="FormationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormationAdress" class="control-label"></label>
                <input asp-for="FormationAdress" class="form-control" />
                <span asp-validation-for="FormationAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Liste des formation</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
