@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/iset.png" width="200px"/>
    <h1 class="display-4">Bienvenu</h1>
    <p>Gestion des formations.</p>
</div>
